

    <form action="/" method="POST">
      <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>State</th>
    
            </tr>
        </thead>
        <tbody>
            
          <tr>
              <td>ID</td>
              <td>Max</td>
              <td>max03@gmail.com</td>
              <td>6238969713</td>
              <td>Kerala</td>

              
          </tr>

        </tbody>
      </table>
    </form>
  
    
